
nav ul li {
	float: left;
}

nav ul li:hover {
		background: #4b545f;
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}

nav ul li:hover a {
			color: #fff;
}
	
nav ul li a {
		display: block; padding: 25px 40px;
		color: #757575; text-decoration: none;
}
